.navLink {
  text-decoration: none;
}

.dialog {
  height: 80px;
  border-bottom: 1px solid rgba(50, 48, 59, 0.123);
  padding: 0 0 0 20px;
  color: rgb(63, 63, 63);
}
.dialog:hover {
  color: rgb(187, 187, 187);
  background-color: rgba(255, 255, 255, 0.568) !important;
}

.dialog img {
  /* position: static; */

  width: 50px !important;
  border-radius: 50%;
  line-height: 80px;
  vertical-align: middle;
}

.dialog a {
  width: 160px;
  line-height: 80px;
  vertical-align: middle;
  margin: 0px 0px 0px 10px;
}
