.dialog {
  /* position: relative; */

  height: 80px;
}

.dialog img {
  /* position: static; */

  width: 50px !important;
  border-radius: 50%;
  line-height: 80px;
  vertical-align: middle;
}
.dialog span {
  line-height: 80px;
  vertical-align: middle;
  margin: 0px 0px 0px 10px;
}
