.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rgb(240, 240, 240);
}

.dialogItems {
  padding: 0;
}
.dialogItems .active {
  color: red;
}

.dialog {
}
.messages {
  padding: 20px;
}

.message {
}
.newMessage {
  display: grid;
  grid-template-columns: 1.3fr 10fr;
  grid-column-start: 2;
  align-content: center;
  padding: 0 0 0 30px;
}
.newMessage textarea {
  width: 40em;
  grid-area: newMessageText;
}
.newMessage button {
}
